

.slide ul {
	margin-left: 1em;
}

.slide ul > li {
	text-indent: -1em;
}



#intro .attribution {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 100%;
	line-height: .3;
	color: rgba(0,0,0,.7);
	text-shadow: none;
	background: url(img/backgroundPattern.png) repeat;
	padding:.6em 0 0;
	overflow: hidden;
}


#css-controls-demo label {
	display: block;
}

.center {
	text-align: center;
}

.semantic-list {
	list-style-type: none;
}

.slide .semantic-list li:before {
	content: "";
}

.two-up {
	overflow: auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

.two-up .left,
.two-up .right {
	width: 48%;
}

.v-space {
	margin-top: 4rem;
}

#timer:before {
	content: "";
}

time {
	font-size: 82.5%;
}